.google {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.title {
  margin-top: 13vh;
  font-size: 2.5rem;

}
button.custom-button{
  background-color: #FFC600;
}

.text-skill{
  color: black;
  margin-right: 10px;
  font-weight: lighter;
}
.text-swap{
  color: #FFC600;
  font-weight: bolder;
}
