
<div class="circle-background-container">
  <div class="half-circle-left-up"></div>
  <div class="half-circle-right-up"></div>
  <div class="center-container">
    <form>
      <mat-form-field class="search-bar mt-6 " appearance="outline"  >
        <mat-label>Search</mat-label>
        <mat-icon matSuffix>search</mat-icon>
        <input matInput placeholder="" value="">
      </mat-form-field>
    </form>
  </div>

  <div class="half-circle-left-bottom"></div>
  <div class="half-circle-right-bottom"></div>
</div>
